---
extension: html
filter:    haml
---

%html
  %head
    %title EAX Artur Roszczyk
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/application.css"}
%body
  #body
    #header
      = render :partial => "header"
    #menu
      = render :partial => "menu"
    #content
      %h2= @page.title
      = @content
    #footer
      = render :partial => "footer" 