---
extension: html
filter:    haml
---
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "pl", :lang => "pl"}
  %head
    %title== EAX Artur Roszczyk - #{@page.title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "stylesheets/application.css"}
  %body
    #body
      #header
        = render :partial => "header"
      #menu
        = render :partial => "menu"
      #content
        %h1= @page.title
        = @content
      #footer
        = render :partial => "footer" 